body {
    background-image: url('images/quizGameBackground.jpg');
}

#mainContainer {
    background-color: yellow;
    margin: 0 auto;
    margin-top: 12px;
    height: 700px;
    width: 900px;
    border: solid;
    
}
p {
    margin: 0;
    padding: 0;
}

header {
    border: solid;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: thick;
    font-family: sans-serif;
    font-variant: small-caps;
}

#timer {
    border: dotted;
    height: 80px;
    width: 300px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: thick;
    font-family: sans-serif;
    font-variant: small-caps;
}

button {
    height: 50px;
    width: 80px;
    background-color: darkslategray;
    color: whitesmoke;
    font-size: 20px;
    font-weight: thick;
    font-family: sans-serif;
    font-variant: small-caps;
    align-content: center;
    margin: 0 400px;
    /* round the corners */
}

#question {
    height: 150px;
    width: 400px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: thick;
    font-family: sans-serif;
    font-variant: small-caps;
}

#answers {
    height: 200px;
    width: 400px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: thick;
    font-family: sans-serif;
    font-variant: small-caps;
}

/* form {
    position: relative;
    float: left;
} */